/* GLOBAL */
body {
  margin: 0;
  background: linear-gradient(135deg, #020617, #0f172a);
  color: #e2e8f0;
  font-family: "Inter", sans-serif;
}

/* LAYOUT */
.app {
  display: flex;
  height: 100vh;
}

/* LEFT PANEL */
.left {
  width: 35%;
  padding: 20px;
  border-right: 1px solid #1e293b;
  overflow-y: auto;
}

/* RIGHT PANEL */
.right {
  width: 65%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* INPUTS */
input {
  width: 90%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 6px;
  border: none;
  outline: none;
  background: #1e293b;
  color: white;
}

/* SELECT */
select {
  padding: 6px;
  margin: 10px 0;
  border-radius: 6px;
  background: #1e293b;
  color: white;
}

/* BUTTONS */
button {
  padding: 8px 14px;
  margin: 5px 5px 0 0;
  background: #1e293b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #334155;
}

button:active {
  transform: scale(0.95);
}

/* SPECIAL BUTTON */
button:nth-child(4) {
  background: #22c55e;
}

button:nth-child(4):hover {
  background: #16a34a;
}

/* BOXES */
.box {
  background: #020617;
  padding: 12px;
  margin-top: 12px;
  border-radius: 10px;
  border: 1px solid #1e293b;
}

/* EDITOR */
textarea {
  width: 100%;
  height: 75%;
  background: black;
  color: #22c55e;
  font-family: monospace;
  font-size: 14px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #1e293b;
}

/* HEADINGS */
h2 {
  margin-bottom: 5px;
}

h3 {
  margin-top: 15px;
}

/* LEADERBOARD */
.leaderboard-item {
  padding: 4px 0;
  border-bottom: 1px solid #1e293b;
}

/* TIMER */
.timer {
  color: #38bdf8;
  font-weight: bold;
}

/* SCORE */
.score {
  font-size: 18px;
  font-weight: bold;
  color: #22c55e;
}